
$dark-grey: #555;
$med-grey: #7f7f7f;
$lt-grey: #ccc;
$fg-light: #fff;
$fg-grey: darken($fg-light, 5%);
$bg-lt-green: #5eff4d;
$masculine-colour: #66d;
$feminine-colour: #d33;
$neuter-colour: #6b8e23;
$plain-text-colour: #666;

