body {
  font: 1.2em Helvetica, sans-serif;
  background-color: $dark-grey;
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  background-color: $fg-light;
  color: $plain-text-colour;
  width: 800px;
  min-height: 100%;
  margin: 20px auto;
}

.header {
  position: relative;
  background-color: $med-grey;
  padding: 20px 30px 0;
  border-bottom: 1px solid black;
  height: 100px;
}

.navbar {
  position: absolute;
  font-size: 1.5em;
  height: 40px;
  background-color: inherit;
  bottom: 0;
  width: 50%;

  ul {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 5px -1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: darken($lt-grey, 20%);
    border: 1px solid black;

    &.active {
      background-color: $lt-grey;
      border-color: black black $lt-grey;

    }
  }
}

.content {
  padding: 30px;
}

.word-row {
  padding: 5px 0;
  margin: 5px 0;

  &:nth-child(odd) {
    background-color: $fg-grey;
  }
}

.button {
  font-size: 0.8em;
}

input.word {
  font-size: 1em;
}

.word {
  text-align: center;
  display: inline-block;
  width: 15em;
  vertical-align: bottom;
}

.revise-form div {
  display: inline-block;
}

.masculine {
  color: $masculine-colour;
}

.feminine {
  color: $feminine-colour;
}

.neuter {
  color: $neuter-colour;
}

.unknown {
  color: $plain-text-colour;
}

