body {
  background-color: $dark-grey;
}

.masculine {
  color: $masculine-colour
}

.feminine {
  color: $feminine-colour
}

.neuter {
  color: $neuter-colour
}

.unknown {
  color: $unknown-colour
}

