<style>
    .masculine {color: cyan}
    .feminine {color: pink}
    .neuter {color: lightslategrey}
    .unknown {color: white}
</style>
<div>

    <div id="top" class="container">

        <div id="revise-header" class="row centred">
            <div class="col-lg-4">
                <h2><span id="revised-word-count">{{ index }} / {{ totalWords }}</span> words revised </h2>
            </div>
            <div class="col-lg-2">
                <a ng-click="switchLanguage()"><h2>{{ lang_left }} - {{ lang_right }}</h2></a>
            </div>
            <div class="col-lg-2">
                <a ng-click="switchSortOrder()"><h2>{{ sortOrder }}</h2></a>
            </div>
            <div class="col-lg-2">
                <a href="/"><h2>vocab</h2></a>
            </div>
        </div>

        <div id="word-form" class="row centred">
            <div id="word-left" class="col-lg-4">
                <div class="display-word" ng-class="genderColour(word[lang_left])">{{ word[lang_left] }}</div>
            </div>
            <div id="word-right" class="col-lg-4">
                <div class="display-word" ng-class="genderColour(revealedWord)">{{ revealedWord }}&nbsp;</div>
            </div>
            <div id="buttons" class="col-lg-2 revise-buttons">
                <button class="btn btn-success" ng-click="showWord(word[lang_right])" ng-disabled="blockButtons">show</button>
                <button class="btn btn-info" ng-click="showHint(word[lang_right], revealedWord.length)" ng-disabled="blockButtons">hint</button>
            </div>
        </div>

    </div>


    <div id="bottom" class="container">

        <div id="word-list" class="row centred" ng-repeat="word in revealedWords">
            <div class="col-lg-4" ng-class="genderColour(word[lang_left])">{{ word[lang_left] }}</div>
            <div class="col-lg-4" ng-class="genderColour(word[lang_right])">{{ word[lang_right] }}</div>
            <div class="col-lg-2"/>
        </div>

    </div>

</div>