<div class="revise">
    <div class="header">
        <div tabbed-navigation tab="revise"></div>
    </div>

    <div class="options-bar">
        <ul>
            <li ng-click="switchLanguage()">{{ lang_left }} - {{ lang_right }}</li>
            <li ng-click="switchSortOrder()">Order: {{ sortOrder }}</li>
            <li><a ng-click="openOptions()">options</a></li>
        </ul>
    </div>

    <div class="content">

        <div class="revise-word-form">
            <span gender-coloured-word word="{{ word[lang_left] }}"></span>
            <span gender-coloured-word word="{{ revealedWord }}"></span>
            <button class="btn btn-success" ng-click="showWord(word[lang_right])" ng-disabled="blockButtons">show</button>
            <button class="btn btn-info" ng-click="showHint(word[lang_right], revealedWord.length)" ng-disabled="blockButtons">hint</button>
        </div>

        <div class="word-list">
            <div class="word-row revise" ng-repeat="word in revealedWords">
                <span class="word" gender-coloured-word word="{{ word[lang_left] }}"></span>
                <span class="word" gender-coloured-word word="{{ word[lang_right] }}"></span>
            </div>
        </div>
    </div>
</div>