<div class="vocab">
    <div class="header">
        <div tabbed-navigation tab="vocab"></div>
    </div>

    <div class="content">

        <h2><span id="word-count">{{ words.length }}</span> Words</h2>

        <div class="new-word-form">
            <form>
                <input id="german-input" class="word" placeholder="German" ng-model="formData.german">
                <input id="english-input" class="word" placeholder="English" ng-model="formData.english">
                <button type="submit" class="" id="add-button" ng-click="createWord()" onclick='$("html, body").animate({ scrollTop: 0 }, "slow"); $("#german-input").focus();'>Add</button>
            </form>
        </div>

        <div class="word-list">
            <div class="word-row" ng-repeat="word in words | orderBy:'_id':true">
                <span gender-coloured-word word="{{ word.german }}"></span>
                <span class="word">{{ word.english }}</span>
                <span class="action"><a ng-click="deleteWord(word._id)">delete</a></span>
            </div>
        </div>
    </div>
</div>
